{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<h1>Search</h1>

<form action="{% url 'search' %}" method="get">
    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
    <input type="submit" value="Search" class="button">
</form>

{% if search_results %}
<h2>Страницы</h2>
<ul>
    {% for result in search_results %}
    <li>
        <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
        {% if result.search_description %}
        {{ result.search_description }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if search_results.has_previous %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
{% endif %}

{% if search_results.has_next %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
{% endif %}
{% endif %}

{% if document_results %}
<h2>Документы</h2>
<ul>
    {% for doc_result in document_results %}
    <li>
        <h4><a href="{{ doc_result.document.url }}">{{ doc_result.document.title }}</a></h4>
        <p><small>Файл: {{ doc_result.document.filename }}</small></p>
        {% if doc_result.pages %}
        <p>Прикреплён на страницах:</p>
        <ul>
            {% for page in doc_result.pages %}
            <li><a href="{% pageurl page %}">{{ page }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if not search_results and not document_results %}
{% if search_query %}
No results found
{% endif %}
{% endif %}
{% endblock %}
